* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 20px;
  color:#fff;
}

.img_santos{
    height: 100px;
    width: auto;
}

header nav{
    display: flex;
    gap: 15px;
}

main{
    display: flex;
    gap: 40px;
    padding: 20px;
}

.secao1{
    /* flex-grow:1; */
    width: 70%;
    background-color:brown;
}

.secao2{
    padding: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    width: 100%;
    background-color: #333;
    color: #fff;
    bottom: 0;
    position: fixed;
}

footer p {
    margin: 5px 0;
}
